<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>班级管理</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
  <link rel="stylesheet" href="css/schoolManagement.css" media="all">
  
</head>
<body>
  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">班级名称</label>
            <div class="layui-input-block">
              <input type="text" name="className" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="LAY-user-front-search">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
          </div>
        </div>
        <div class="layui-card-body">
        	<table id="studentManage" lay-filter="studentManage"></table>
      </div>
        <div class="layui-form-item layui-layout-admin">
					<div class="layui-input-block">
						<div class="layui-footer" style="left: 0;">
							<button class="layui-btn" lay-submit=""
								lay-filter="component-form-demo1">立即提交</button>
							<button type="reset" class="layui-btn layui-btn-primary" id="resetData">取消</button>
						</div>
					</div>
		</div>
      </div>
    </div>
  </div>
  <script src="../public_js/path.js"></script>  
   <script src="../public_js/jquery.min.js"></script>  
  <script src="../layui/layui.js"></script> 
   <script src="js/classLayer.js"></script> 
</body>
</html>